.about{
    background: #F6F6F6;
}

.about__title{
    margin: 0 0px 25px 2px;
}


.about__wrap{
    padding: 115px 0 110px;
    text-align: center;
    box-sizing: border-box;
    
}

.about__text{
    padding-bottom: 44px;
    font-weight: 500;
    color: #070707;
    box-sizing: border-box;
}

.about__text:nth-of-type(1){
    width: 485px;
    margin: 0 auto;
}

.about__text:nth-of-type(2){
    width: 398px;
    margin: 0 auto;
}

.about__text:nth-of-type(3){
    width: 320px;
    margin: 0 auto;
    padding-bottom: 0;

}


@media screen and (max-width: 530px){
    .about__wrap{
        padding: 81px 0 76px;
        text-align: center;
        box-sizing: border-box;
    }

    .about__wrap .about__text{
        width: 285px;
        margin: 0 auto;
    }

}