@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-heavy.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-heavyitalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-black.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-blacktalic.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-boldtalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-semibolditalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-mediumitalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-regularitalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-light.ttf) format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-lightitalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-ultralight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-ultralightitalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-thinitalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}

.body{
    margin: 0;
    font-family: 'Gilroy', sans-serif;
}

.wrap{
    width: 944px;
    margin: 0 auto;
}

.text{
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
}

.text_s{
    font-size: 14px;    
}

.text_m{
    font-weight: 500;
}

.text_b{
    font-weight: 700;
}

.title{
    font-family: 'Gilroy';
    font-size: 34px;
}

.title_b{
    font-size: 47px;
}

@media screen and (max-width: 1023px){
    .wrap{
        width: 90%;
    }
    
}

@media screen and (max-width: 530px){
    
    .wrap{
        width: 316px;
        margin: 0 auto;
    }

}


