.profile__wrap{
    padding: 30.8px 0 100px;
    box-sizing: border-box;
}

.profile__info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.profile__lang{
    font-size: 16px;
}

.profile__name{
    width: 123px;
    margin: 0;
    line-height: 59px;
    letter-spacing: 0.3px;
}

.profile__text{
    width: 155px;
    margin: 0 50px 12px 0;
    line-height: 22px;
}

.profile__lang{
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    margin: 0 0 13px 0;
}

.profile__lang_grey{
    color: #828282;
}


.profile__photo-sd{
    display: none;
}

.burger{
    display: none;
}

@media screen and (max-width: 1023px){
    .profile__photo{
        width: 100%;
    }
}


@media screen and (max-width: 530px){

    .burger{
        width: 33px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        margin-top: 10px;
}

    .profile__wrap{
        padding: 65px 0 83px;
        box-sizing: border-box;
    }

    .profile__header{
        display: flex;
        justify-content: space-between;
    }

    .profile__lang{
        display: none;
    }

    .profile__photo-sd{
        display: block;
    }

    .profile__photo-hd{
        display: none;
    }

    .profile__info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .profile__text{
        margin-top: 30px;
        line-height: 22px;
    }

    
    .burger__line{
        width: 100%;
        height: 4px;
        background-color: #070707;

}

    .burger__line-top{
        position: relative;
        top: 0;
        left: 0;
        transition: top 0.4s 0.7s ease, transform 0.5s ease;
    }

    .burger__line-bot{
        position: relative;
        bottom: 0;
        left: 0;
        transition: bottom 0.4s 0.7s ease, transform 0.5s ease;
    }


    .burger__line-mid{
        transition: opacity 0.5s 0.5s ease;
}


    .menu_active .burger__line-top{
        transform: rotate(-45deg);
        top: calc(50% - 2px);
        left: 0;
        transition: top 0.4s ease, transform 0.5s 0.7s ease;
}

    .menu_active .burger__line-mid{
        opacity: 0;
        transition: opacity 1s ease;
}

    .menu_active .burger__line-bot{
        transform: rotate(45deg);
        bottom: calc(50% - 2px);
        left: 0;
        transition: bottom 0.4s ease, transform 0.5s 0.7s ease;
}

}