@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

.main{
    width: 1445px;
    background-color: #F6F6F6;
}

.shop{
    padding-left: 10px;
    height: 680px;
}

.reebok{
    margin-left: 8px;
    margin-top: -4px;
    height: 688px;
}

.braun{
    width: 1272px;
    height: 677px;
    margin: 0 auto;
}

.main__wrap{
    width: 932px;
    height: 520px;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
}

.main__banner-braun{
    margin-left: -5px;
}

.portfolio__title{
    font-family: 'Gilroy';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 54px;
    font-weight: 700;
    padding-left: 5px;
    padding-top: 106px;
}

.braun__text{
    margin: 0;
    display: block;
}



.promo__text{
    display: flex;
    justify-content: center;
    margin-top: 44.5px;
    margin-left: 11.5px;
}

.promo__text-reebok{
    margin-top: 44px;
    margin-left: 1px;
    width: 100%;
}

.shop__text{
    margin-top: 32px;
    margin-left: 0px;
}

.promo__link{
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #070707;
}

.footer{
    height: 500px;
    margin-left: -3px;
    margin-top: 116.5px;
}

.footer__text{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #070707;
}

.footer__text-title{
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 24px;
}

.footer__text-wrap{
    width: 275px;
    margin: 0 auto;
    margin-bottom: 31px;
    padding-left: 12px;
}

.buttom{
    display: inline-block;
    width: 180px;
    height: 42px;
    border-radius: 20px;
    background: #070707;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-left: 9px
}

.footer__buttom-text{
    margin: 0;
    padding: 9px 25px;
}

.footer__link{
    display: flex;
    justify-content: center;
    margin-top: 86px;
    margin-left: 6px;
}

.footer__icon{
    display: block;
    background-size: contain;
    height: 45px;
    width: 45px;
}

 .footer__icon:not(:last-child){
    padding-right: 55px;
} 



.footer__icon-text{
    margin-top: 39px;
    margin-left: 11px;
    font-size: 14px;
    line-height: 17px;
}

.icon__text{
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}
