@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-heavy.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-heavyitalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-black.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-blacktalic.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-boldtalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-semibolditalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-mediumitalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-regularitalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-light.ttf) format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-lightitalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-ultralight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-ultralightitalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-thinitalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}


.body{
    margin: 0;
    font-family: 'Gilroy', sans-serif;
}

.wrap{
    width: 944px;
    margin: 0 auto;
}

.text{
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
}

.text_s{
    font-size: 14px;    
}

.text_m{
    font-weight: 500;
}

.text_b{
    font-weight: 700;
}

.title{
    font-family: 'Gilroy';
    font-size: 34px;
}

.title_b{
    font-size: 47px;
}

/*====== header =========*/

.header{
    height: 88px;
}

.header__wrap{
    height: 100%;
    border-bottom: 1px solid #828282;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding-top: 29.5px;
    padding-left: 0;
}

.nav__link{
    text-decoration: none;
    color: #828282;
}

.nav__item:first-child a{
    color: #070707;
}

/*======= profile =========*/

.profile__wrap{
    padding: 30.8px 0 100px;
}

.profile__info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 40px;
}

.profile__lang{
    font-size: 16px;
}

.profile__name{
    width: 123px;
    margin: 0;
    line-height: 59px;
    letter-spacing: 0.3px;
}

.profile__text{
    width: 155px;
    margin: 0 50px 12px 0;;
    line-height: 22px;
}

.profile__lang{
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    margin: 0 0 13px 0;
}

.profile__lang_grey{
    color: #828282;
}

/*======= about =========*/

.about{
    background: #F6F6F6;
}

.about__title{
    margin: 0 0px 25px 2px;
}


.about__wrap{
    padding: 115px 0 110px;
    text-align: center;
    
}

.about__text{
    padding-bottom: 44px;
    font-weight: 500;
    color: #070707;
}

.about__text:nth-of-type(1){
    width: 485px;
    margin: 0 auto;
}

.about__text:nth-of-type(2){
    width: 398px;
    margin: 0 auto;
}

.about__text:nth-of-type(3){
    width: 320px;
    margin: 0px 316px;
    padding-bottom: 0;
}

/*======= skills =========*/

.skills__wrap{
    text-align: center;
    padding: 82px 0 110px;
}


.skills__title {
    margin: 0px auto;
}

.skills__item{
    list-style: none;
}

.skills__list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.skills__text{
    color: #070707;
    font-weight: 500;
    margin: 58.8px 0 88px;
}

.skills__item{
    width: 177px;
}

.skills__item-text{
    font-weight: 700;
    width: 79px;
    font-size: 14px;
    color: #828282;
    margin: 15px auto 34px;
}

.skills__item-level{
    display: flex;
    justify-content: space-between;
    width: 164px;
    margin-left: 6px;
}

.skills__item:nth-child(3) .skills__item-level{
    margin-left: 6px;
}

.skills__item:nth-child(4) .skills__item-img{
    margin-left: 9px;
}

.skills__item:nth-child(4) .skills__item-level{
    margin-left: 7px;
    
}

.skills__item:nth-child(4) .skills__item-text{
    margin-bottom: 55px;
}

/*======== portfolio ========*/

.portfolio{
    background-color: #F6F6F6;
}

.portfolio__wrap{
    text-align: center;
    padding: 105px 0 96px;
}

.portfolio__title{
    margin: 0;
}

.porfolio__img{
    margin-top: 105px;
}

.porfolio__img-top{
    margin-top: 56px;
}

.porfolio__link{
    display: inline-block;
    margin-top: 37px;
    color: #070707;
}

/*======= contacts ========*/

.contacts__wrap{
    text-align: center;
    padding: 84px 0 123px;
}

.contacts__text{
    width: 275px;
    margin: 0 auto;
}

.button{
    margin-top: 35px;
    display: inline-block;
    background: #070707;
    border-radius: 50px;
    padding: 12px 29px;
    color: #F6F6F6;
    text-decoration: none;
}

.contacts__icons{
    width: 342px;
    display: flex;
    justify-content: space-between;
    margin: 85px auto 41px;
}

.contacts__text-bootom{
    margin: 0;
}