@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-heavy.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-heavyitalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-black.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-blacktalic.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-boldtalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-semibolditalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-mediumitalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-regularitalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-light.ttf) format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-lightitalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-ultralight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-ultralightitalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: "Gilroy";
    src: url(fonts/gilroy-thinitalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}


.body{
    margin: 0;
    font-family: 'Gilroy', sans-serif;
}

.wrap{
    width: 944px;
    margin: 0 auto;
}

.text{
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
}

.text_m{
    font-weight: 500;
}

.text_b{
    font-weight: 700;
}

.title{
    font-family: 'Gilroy';
    font-size: 32px;
}

.title_b{
    font-size: 47px;
}

/*======= about =========*/

.about{
    background: #F6F6F6;
}

.about__title{
    margin: 0 0 24.5px 0;
    letter-spacing: 1px;
}


.about__wrap{
    padding: 115px 0 110px;
    text-align: center;
    
}

.about__text{
    padding-bottom: 44px;
    font-weight: 500;
    color: #070707;
}

.about__text:nth-of-type(1){
    width: 485px;
    margin: 0 auto;
}

.about__text:nth-of-type(2){
    width: 398px;
    margin: 0 auto;
}

.about__text:nth-of-type(3){
    width: 320px;
    margin: 0 auto;
    padding-bottom: 0;
}

/*======= skills =========*/

.skills__wrap{
    text-align: center;
    padding: 86px 0 110px;
}

.skills__title{
    margin: 0;
}

.skills__item{
    list-style: none;
}

.skills__list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.skills__text{
    color: #070707;
    font-weight: 500;
    margin: 58.8px 0 88px;
}

.skills__item{
    width: 177px;
}

.skills__item-text{
    font-weight: 700;
    width: 79px;
    font-size: 14px;
    color: #828282;
    margin: 15px auto 38px;
}

.skills__item-level{
    display: flex;
    justify-content: space-between;
    width: 164px;
    margin-left: 6px;
}

.skills__item:nth-child(3) .skills__item-level{
    margin: 10px;
}

.skills__item:nth-child(4) .skills__item-level{
    margin-left: 10px;
    
}

.skills__item:nth-child(4) .skills__item-text{
    margin-bottom: 55px;
}